/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color: #fff;
    text-decoration: none;
}

header {
    background: #F0C27B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

.menu {
    animation: moverIzquierda 1s ease-in;
    z-index: 100;
}

.botonInicio { 
    margin: 10px;
}

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #F0C27B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0C27B, #4B1248);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0C27B, #4B1248);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cerrado {
    clip-path: circle(0.0% at 3% 3%);
}

.abierto {
    clip-path: circle(150% at 3% 3%);
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img {
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverArriba 1s ease-in;
}

.textos {
    width: 50%;
    color: #fff;
}

.textos h1 {
    font-size: 70px;
    color: black;
    font-family: 'Vollkorn SC', serif;
    animation: moverDerecha 1s ease-in;
}

.textos h2 {
    font-size: 20px;
    animation: moverIzquierda 1s ease-in;
}

.textos a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px 10px;
    animation: moverArriba 1s ease-in;
}

.wave {
    height: 100px;
    width: 100%;
    background: #F0C27B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px) {
    img { 
        height: 400px;
    }
}

@media screen and (max-width:800px) {
    img { 
        height: 370px;
    }
    .textos h1 {
        font-size: 60px;
    }
    .textos h2 {
        font-size: 15px;
    }

    .textos a {
        font-size: 15px;
    }
}

@media screen and (max-width:700px) {
    img { 
        height: 250px;
    }
    .textos h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:450px) {
    .container {
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    img { 
        height: 250px;
    }

    .textos {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:340px) {
    .container {
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    img { 
        height: 160px;
    }

    .textos a {
        width: 120px;
        font-size: 10px;
    }

    .textos h1 {
        font-size: 25px;
    }
    .textos h2 {
        font-size: 10px;
    }
}